.main
{
    background-color: #e9f1ff;
}
.commentbox
{
    margin: 10px;
    

    /* border: solid red 1px; */
}
.post
{
margin: 10px;
}


.contentpost
{
    padding:20px;
    background-color: rgb(255, 255, 255);
    border: solid rgb(224, 224, 224) 1px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.06);

}
.content
{
    padding:20px;
    background-color: rgb(255, 255, 255);
    border: solid rgb(224, 224, 224) 1px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.06);
    padding:10px;

}
.heading
{
    display:flex;
    align-items: center;
}
.text
{
    font-size: 10pt;
    color:rgb(69, 68, 68)
    margin-left:20px;
}
.avatar
{
    margin: 10px;
    margin-left: 30px;
    border: solid 1px green;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}
.nom
{
    width:85%;
    font-size: 12pt;
    font-weight: bold;
}
.icon
{
    float: right;
}
.date_star
{
    padding-left:35px;
    font-size: 10pt;
    color: rgb(175, 175, 175);
}
.text
{
   padding: 20px; 
}
/* .glyphicon
{
    float: right;
} */

.postdescri
{
   
  
    font-size: 16pt;
    padding-left: 30px;
    margin: auto;
}
.glyphicon
{
    display: block;
}

.area
{
    margin: auto;
    margin-bottom: 10px;
    width:100%;
}
.coms-btn{
    display:flex;
    color: #a6a6a6;
}
.btn
{
    background-color:#04249b;
    color: white;
}
.btn :hover
{
    color: white;
}
.glyphicon-star
{
    color: #2c448c;
}
.glyphicon-star-empty
{
    color: #2c448c;
}

@media screen and (max-width:420px) {
    .heading
    {
        display:flex;
        width: 90%;
    }
    .postdescri
    {
        width: 90%;
        font-size: 13pt;
        padding-left: 30px;
    
    }
    .area
    {
     
        margin-bottom: 10px;
        width:90%;
    }
    
}
@media screen and (min-width:420px) and (max-width:1080) {
    .heading
    {
        display:flex;
        width: 90%;
    }
    .postdescri
    {
        width: 90%;
        font-size: 13pt;
        padding-left: 30px;
    
    }
.area
    {
        margin: auto;
        margin-bottom: 10px;
       
    
    
}