
.main
{
    background-color: #E5EFF2;
    font-family:"Arial";
}
.container
{
    background-color: white;
    display:flex;
    width: 800px;
    height:500px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.04);
}

.image
{
    width: 400px;
    height:500px;
    
}
.loginbox
{
    display: flex;
    display:flex;
    align-self: center;
    flex-direction: column;
    width: 400px;
    height:500px;
    padding-top: 100px;
}

.titre
{
    color: #206DF7;
    font-size: 24pt;
    font-weight: bold;
    align-self: center;
}
input{
    width:300px;
    height: 25px;
    margin:15px;
    border-radius: 3px;
    border: none;
    border-bottom: solid 0.5px grey;
}
.btn
{
    align-self: center;
    width:150px;
    height:40px;
    margin: 10px;
    background-color: #323461;
    border: none;
    border-radius: 3px;
    color: white;
}
.btn:hover
{
    background-color: #206DF7;
}
.img
{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
svg
{
    width:25px;
    height: 25px;
    color: #206DF7;
}

.mail
{
    display: flex;
    align-items: center;
    align-self: center;
    
}
.mdp
{
    display: flex;
    align-items: center;
    align-self: center;
}

.inscri
{
    margin-top: 100px;
    margin-left: 50px;
    color: rgb(77, 77, 77);
    font-size: 10pt;
}
.inscri:hover{
    color: #206DF7;

}

@media  screen and (max-width:412px) {
    .container
    {
        margin-top: 200px;
        flex-direction: column;
        height: 300px;
        width:90%;
    }
    .image
    {
        width: 0%;
    }
    .mail
    {
        width:90%;
        height: 30px;
        
    }
    .mdp
    {
        width:90%;

    }
    .img
    {
        width: 0%;
      
        
    }
    .loginbox
    {
       width: 90%;
       padding-top: 30px;

    }

    .titre
    {
        color: #206DF7;
        font-size: 16pt;
        font-weight: bold;
        align-self: center;
    }
    input{
        width:300px;
        height: 25px;
        margin:15px;
        border-radius: 3px;
        border: none;
        border-bottom: solid 0.5px grey;
    }
    .btn
    {
        align-self: center;
        width:120px;
        height:40px;
        margin: 10px;
        background-color: #323461;
        border: none;
        border-radius: 3px;
        color: white;
        font-size: 10pt;
    }
    .btn:hover
    {
        background-color: #206DF7;
    }
    .img
    {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    svg
    {
        width:25px;
        height: 25px;
        color: #206DF7;
    }

    .mail
    {
        display: flex;
        align-items: center;
        align-self: center;
        
    }
    .mdp
    {
        display: flex;
        align-items: center;
        align-self: center;
    }

    .inscri
    {
        
        margin-left: 20px;
        margin-top: 20px;
        color: rgb(77, 77, 77);
        font-size: 10pt;
    }
    .insc
    {
        margin-top: 0;
    }
   
}

@media screen and (min-width:420px) and (max-width:768px)  
{
    .container
{
    align-self: center;
    background-color: white;
    display:flex;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.04);
}

.image
{
    width: 80%;
    
}
.loginbox
{
    display: flex;
    display:flex;
    align-self: center;
    flex-direction: column;
    width: 90%;
    padding-top: 100px;
}

.titre
{
    color: #206DF7;
    font-size: 24pt;
    font-weight: bold;
    align-self: center;
}
input{
    width:300px;
    height: 25px;
    margin:15px;
    border-radius: 3px;
    border: none;
    border-bottom: solid 0.5px grey;
}
.btn
{
    align-self: center;
    width:150px;
    height:40px;
    margin: 10px;
    background-color: #323461;
    border: none;
    border-radius: 3px;
    color: white;
}
.btn:hover
{
    background-color: #206DF7;
}
.img
{
    width:80%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
svg
{
    width:25px;
    height: 25px;
    color: #206DF7;
}

.mail
{
    display: flex;
    align-items: center;
    align-self: center;
    
}
.mdp
{
    display: flex;
    align-items: center;
    align-self: center;
}

.inscri
{
    margin-top: 100px;
    margin-left: 50px;
    color: rgb(77, 77, 77);
    font-size: 10pt;
}
.inscri:hover{
    color: #206DF7;

}
}